   {% if not headerImage %} {% set headerImage = "header.webp" %} {% elseif (headerImage == "none") %} {% set headerImage = "" %} {% endif %}
    <header class="masthead" style="{{ ["background-image: url('/img/", headerImage, "')"] | join }}">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {# Let's not show the post titles in the page header so we keep the blog title there always instead
                    <!-- If it's a single post page, display the post title in the heading -->
                    {% if layout == "post.njk" %}
                    <div class="post-heading">
                        <h1>{{ title }}</h1>
                        <span class="subheading">{{ description }}</span>
                        {% import "postmeta.njk" as postmeta %}
		                {{ postmeta.postmeta(collections.all | getCollectionItem(page)) }}
                    </div>
                    {% else %}
                    #}
                    <div class="site-heading">
                        {#<h1>{{ title | default(metadata.title) }}</h1>#}
                        <h1>{{ metadata.title }}</h1>
                        <span class="subheading">{{ metadata.description }}</span>
                        {#
                        <!-- Display page title if it's a specific page, otherwise display the site title -->
                        {% if (layout == "page.njk") %}
                            <span class="subheading">{{ description }}</span>
                        {% else %}
                            <span class="subheading">{{ description | default(metadata.description) }}</span>
                        {% endif %}
                    </div>
                    % endif %}
                    #}
                </div>
            </div>
        </div>
    </header>