{% if production %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.min.js"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.js"></script>
<script src="/js/scripts.js"></script>
{% endif %}
<script src="{{ '/js/lite-yt-embed.js' | minifyPath | url }}"></script>
<script src="/js/tweet-loader.js" defer></script>
