/* Inline SVG icon helpers */
.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}

.icon-plain {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  color: currentColor;
}

.icon-plain svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.icon-circle svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
