//
// Navbar
//

// Global styling for the navbar

#mainNav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-fixed;
  border-bottom: $border-width solid $border-color;
  background-color: $white;
  font-family: $headings-font-family;

  .navbar-brand {
    font-weight: $headings-font-weight;
  }

  .navbar-icon {
    color: $white;
    display: block;

    &:focus,
    &:hover {
      color: fade-out($white, 0.4);
    }
  }

  .navbar-toggler {
    font-size: 0.75rem;
    font-weight: $headings-font-weight;
    padding: 0.75rem;
    text-transform: uppercase;
  }

  .navbar-nav {
    > li.nav-item {
      > a.nav-link {
        font-size: 1rem;
        font-weight: $headings-font-weight;
        letter-spacing: 0.0625em;
        text-transform: uppercase;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    align-items: center;
    padding: 0.25rem 0;

    .navbar-toggler {
      order: 1;
      padding: 0.5rem 0.75rem;
    }

    .container {
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    .nav-tools {
      order: 2;
      margin-left: auto;
      flex-wrap: nowrap;
      align-self: center;
    }

    .nav-tools .nav-search {
      width: 140px;
    }

    .navbar-collapse {
      order: 3;
      flex-basis: 100%;
      width: 100%;
      flex-grow: 0;
      background-color: $white;
      border-bottom: $border-width solid $border-color;
      padding: 0 1rem;
    }

    .navbar-collapse .navbar-nav {
      padding: 0;
      align-items: flex-start;
    }

    .navbar-collapse .nav-link {
      display: block;
      padding: 0.5rem 0;
    }
  }

  @include media-breakpoint-down(sm) {
    .nav-tools .nav-search {
      width: 110px;
    }
  }

  // Desktop only styling for the navbar
  // Set to large breakpoint and up (this should always match the .navbar-expand-* class

  @include media-breakpoint-up(lg) {
    border-bottom: $border-width solid transparent;
    background: transparent;

    #navbarResponsive {
      order: 1;
      flex-grow: 1;
    }

    .nav-tools {
      order: 2;
      margin-left: auto;
    }

    .navbar-brand {
      color: $white;

      &:focus,
      &:hover {
        color: fade-out($white, 0.4);
      }
    }

    .navbar-nav {
      > li.nav-item {
        > a.nav-link {
          color: $white;

          &:focus,
          &:hover {
            color: fade-out($white, 0.4);
          }
        }
      }
    }
  }

  // Styling for the JS behavior of the navbar

  @include media-breakpoint-up(lg) {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      top: -90px;
      -webkit-transition: -webkit-transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      transition: transform 0.2s;
      border-bottom: 1px solid darken($white, 0.05);
      background-color: fade-out($white, 0.1);

      .navbar-brand {
        color: $body-color;

        &:focus,
        &:hover {
          color: $primary;
        }
      }

      .navbar-nav {
        > li.nav-item {
          > a {
            color: $body-color;

            &:focus,
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }

    &.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
}
