<!doctype html>
<html lang="{{ metadata.language }}">

  <head>
    {% include 'head.njk' %}
  </head>

  <body{% if pagefind_ignore %} data-pagefind-ignore="true"{% endif %}>

    {% include 'navbar.njk' %}
    {% include 'pageheader.njk' %}

    <main id="page-content">
      {{ content | safe }}
    </main>

    {% include 'footer.njk' %}

    {% include 'scripts.njk' %}

  </body>

</html>
